<!DOCTYPE html>
<html>
    <head>
        <title>TESTANDO FORMULARIOS</title>
    </head>
    <body>
        <h1>CADASTRO DE CLIENTES</h1>
        <form method="POST" action="../controller/data.php">
            <label>Nome do Cliente: </label>
            <input type="text" name="name" ><br>

            <label>Email do Cliente: </label>
            <input type="text" name="email"><br>

            <label>CPF do Cliente: </label>
            <input type="text" name="cpf"><br> 

            <label>Telefone do Cliente: </label>
            <input type="text" name="fone"><br> 

            <input type="submit" name="submit" value="SALVAR">
        </form><br>
        
        <button><a href="../model/table.php">TABELA</a></button>

        <h2>EDITAR CLIENTES</h2>
        <form method="POST" action="../controller/update.php">
            <label>ID do Cliente Alterado: </label>
            <input type="text" name="id" ><br>

            <label>Nome do Cliente: </label>
            <input type="text" name="nameUpdate" ><br>

            <label>Email do Cliente: </label>
            <input type="text" name="email"><br>

            <label>CPF do Cliente: </label>
            <input type="text" name="cpf"><br> 

            <label>Telefone do Cliente: </label>
            <input type="text" name="fone"><br>

            <input type="submit" name="update" value="EDITAR CLIENTE">
        </form>
        
        <h2>EXCLUIR CLIENTES</h2>
        <form method="POST" action="../controller/delete.php">
            <label>ID do Cliente p/ Exclusão: </label>
            <input type="text" name="id" ><br>

            <input type="submit" name="update" value="EXCLUIR CLIENTE">
        </form>

    </body>
</html>